---
layout: default
title: Blog | La petite bête qui pique
titre: Les dernières actualités sur les nuisibles
---
<section class="inside">
    <div id="chapo" class="inside">
        <div class="chapo_img">
            {% if page.cover %}
                <img src="{{page.cover}}" alt="{{page.alt_img}}">
            {% else %}
                <img src="/assets/images/la-petite-bete-qui-pique-logo.png" alt="logo la petite bête qui pique entreprise de désinsectisation et dératisation" width="160">
            {% endif %}
        </div>
        <div class="chapo_text">
            <h1>{{page.titre}}</h1>
            <p>{{page.chapo}}
            </p>
            {% if page.titre != "Contact" %}
            <div class="chapo_cta">
                
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="inside">
<ul class="blog_list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
