---
layout: default
title: La petite bête qui pique | Entreprise de traitement des nuisibles
chapo: La petite bête qui pique, <strong>entreprise de traîtement des nuisibles</strong> pour les particuliers et les professionnels. Nous couvrons un large ensemble d’interventions. Que ce soit la <strong>destruction de nid de guêpes ou de frelons</strong>, la <strong>dératisation</strong> de votre maison ou de vos locaux, la <strong>désinsectisation de cafards ou de punaises de lits</strong>, notre entreprise peut répondre avec efficacité à vos différents problèmes.
---
<section>
    <div id="chapo" class="inside">
        <div class="chapo_img">
            <img src="/assets/images/la-petite-bete-qui-pique-logo.png" alt="logo la petite bête qui pique, entreprise de désinsectisation et dératisation">
        </div>
        <div class="chapo_text">
            <p>{{page.chapo}}
            </p>
            <div class="chapo_cta">
                <a href="/contact.html" class="btn yellow">Nous contacter</a>
            </div>
        </div>
    </div>
</section>
<section>
    {% include urgence.html %}
</section>
<section class="">
    {% include interventions.html %}
</section>
<section>
    <h2 class="big_titre black reduce inside">Professionnels</h2>
    {% include professionnels.html %}
</section>
<div class="banner_home">
    <div class="inside">
        <div class="banner_text">
            <h2>Une urgence ?</h2>
            <div class="banner_cta">
                <a href="/contact.html" class="btn yellow">Nous contacter</a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="inside">
        <h2 class="big_titre reduce black">Zones d'intervention</h2>
        {% include zones.html %}
    </div>
</section>
<section>
    <div class="inside">
        <h2 class="big_titre reduce pink">Contact</h2>
            <div class="map_form">
            {% include form.html %}
            <div class="map">
                <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-s+ff2f92(-1.2574,49.0431)/-1.2641,48.9616,8.12,0,60/450x350@2x?access_token=pk.eyJ1IjoidGhvbWFzLTY3IiwiYSI6ImNrN3hwZXpmMzBiZHozbm9za2ViMzIyMjgifQ.V_IVmR22KK45nQKxA7h61w">
            </div>
            </div>
    </div>
</section>

