<div id="chapo" class="inside">
    <img src="/assets/images/la-petite-bete-qui-pique-logo.png" alt="">
    <div>
        <p>La petite bête qui pique, entreprise de traîtement des nuisibles pour les particuliers et les professionnels. Nous couvrons un large ensemble d’interventions. Que ce soit la destruction de nid de guêpes ou de frelons, la dératisation de votre maison ou de vos locaux, la désinsectisation de cafards ou de punaises de lits, notre entreprise peut répondre avec efficacité à vos différents problèmes.</p>
        <div class="chapo_cta">
            <a href="" class="btn yellow">Nous contacter</a>
        </div>
    </div>
</div>