<footer class="">
    <div class="inside">
      <img src="/assets/images/la-petite-bete-qui-pique-logo.png" alt="" class="logo-footer" width="70">
    </div>
    <div class="inside coordonnees">
      <div>
        <address>
          <div>
            10 route de la carriere,<br>
            50210 Savigny
          </div>
          <br>
          <div>
            <a href="mailto:celinewambst5067@gmail.com">lapetitebetequipique@outlook.fr</a><br>
            <a href="tel:+33669515950" class="tel-gtm">+33 (0)6 69 51 59 50</a><br>
            <a href="" target="_blank">
              <img src="/assets/images/icones/facebook.png" alt="" width="30" class="picto facebook">
            </a>
          </div>
        </address>
        </p>
      </div>
      <div class="certifications">
      </div>
    </div>
    <div class="inside mentions">
      <a href="/confidentialite">Politique de confidentialité</a>
      <a href="/gestion-cookies">Gestion des cookies</a>
      <a href="/mentions-légales/">Mentions légales</a>
      <a href="/plan-de-site">Plan du site</a>
      <a href="https://www.ozymedia.fr/">Ozymedia</a>
    </div>
  </footer>