<div id="interventions">
    <h2 class="big_titre inside">Interventions</h2>
    <ul class="interventions_liste inside">
        <a href="">
            <li>
                <img src="" alt="">
                <h3>1</h3>
            </li>
        </a>
        <a href="">
            <li>
                <img src="" alt="">
                <h3>1</h3>
            </li>
        </a>
        <a href="">
            <li>
                <img src="" alt="">
                <h3>1</h3>
            </li>
        </a>
        <a href="">
            <li>
                <img src="" alt="">
                <h3>1</h3>
            </li>
        </a>
        <a href="">
            <li>
                <img src="" alt="">
                <h3>1</h3>
            </li>
        </a>
        <a href="">
            <li>
                <img src="" alt="">
                <h3>1</h3>
            </li>
        </a>
    </ul>
</div>
