<div id="interventions">
    <h2 class="big_titre inside">Interventions</h2>
    <ul class="interventions_liste inside">
        <a href="/nid-de-guepes">
            <li>
                <div class="presta_img">
                <img src="/assets/images/prestations/nid-de-guepe.png" alt="nid de guêpes" width="175" height="175">
                </div>
                <h3>Nid de guêpes</h3>
            </li>
        </a>
        <a href="/nid-de-frelons">
            <li>
                <div class="presta_img">
                <img src="/assets/images/prestations/frelon.png" alt="frelon" width="175" height="120">
                </div>
                <h3>Nid de frelonss</h3>
            </li>
        </a>
        <a href="/deratisation">
            <li>
                <div class="presta_img">
                    <img src="/assets/images/prestations/rat.png" alt="rats et souris" width="175" height="120">
                </div>
                <h3>Rats & rongeurs</h3>
            </li>
        </a>
        <a href="/desinfection-punaises-lit">
            <li>
                <div class="presta_img">
                <img src="/assets/images/prestations/punaise-lit.png" alt="punaises de lit" width="175" height="125">
                </div>
                <h3>Punaises de lit</h3>
            </li>
        </a>
        <a href="">
            <li>
                <div class="presta_img">
                <img src="/assets/images/prestations/cafard.png" alt="cafards" width="175" height="115">
                </div>
                <h3>Cafards</h3>
            </li>
        </a>
        <a href="">
            <li>
                <div class="presta_img">
                <img src="/assets/images/prestations/chenilles-bg.png" alt="chenilles processeionnaires" width="175" height="145">
                </div>
                <h3>Chenilles processionnaires</h3>
            </li>
        </a>
    </ul>
</div>
