<div id="urgence" class="inside">
    <h2 class="big_titre">Une urgence?</h2>
    <div class="urgence_img">
        <img src="/assets/images/guepe-vol.png" alt="">
    </div>
    <div class="urgence_text">
        <p>Vous faites face à un problème de nuisible? Et vous devez faire appel à un professionnel</p>
        <br>
        <div class="ctas">
            <a href="/contact.html" class="btn yellow">Nous écrire</a>
            <a href="+33669515950" class="btn black">Nous appeler</a>
        </div>
    </div>
</div>