.btn, #button>.btn {
    //border: solid 1px;
    padding: 7px 15px;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 500;
    &.yellow {
        background-color: $yellow;
    }
    &.black {
        background-color: $black; color: white;
    }
    &:hover {
        box-shadow: none;
    }
}
