body {
    margin: 0;
}
section {
    margin-bottom: 40px;
}
.current {
    color: green;
}
.inside {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 0px 10px;

}
main {
    min-height: 100vh;
}
.big_titre {
    font-family: "Inter";
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
h1 {font-family: "Montserrat", sans-serif; color: $black; font-size: 2em; margin-bottom: 0; margin-top: 0;}
p, input, label, a, textarea, select, button {
    font-family: "Montserrat", sans-serif;
}
.big_titre {
    font-size: 8em;
    text-align: center;
    &.black {color: $black;}
    &.yellow {color: $yellow;}
    &.pink {color: $pink;}
}
#chapo {
    display: flex;
    margin-top: 7em;
    justify-content: space-between;
    img {width:10em; height: auto;}
    .chapo_img { display: flex; justify-content: center; align-items: center;}
    .chapo_text{
        width: 80%;
        display: flex;
        flex-direction:column;
        p{}
        a {
            width: fit-content;
            //align-self: end;
        }
    }
}
#urgence {
    position: relative;
    display: flex;
    align-items: center;
    img {width: 320px; transform:scaleX(-1);}
    h2 {position: absolute;
        top: 90px;
        right: 0px;
        z-index: -1;
        color: $yellow;
        margin: 0;
    }
    .urgence_text {
        align-self: end;
    }
}
.zones {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    a {
        text-decoration: none;
        color: black;
        li { border: solid 1px; width: auto;
            padding: 3px 5px;
            border-radius: 2px;
            margin-right: 3px;
            margin-bottom: 3px;
        }
    }
}
@media only screen and (max-width: 40em) {
    #urgence {
        flex-direction: column;
        position: relative;
        h2 {font-size: 4.5em; position: initial;}
        .urgence_img {
            position: absolute;
            z-index: -2;
            top: 1em;
        }
        .urgence_text {
            margin-top: 10em;
        }
        .ctas {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {width: 70%; margin-bottom: 1.2em; text-align: center; font-size: 1.3em; line-height: 2em;}
        }
    }
    .big_titre {
        word-break: break-all;
        font-size: 4.5em;
    }
}
