body {
    margin: 0;
}
section {
    margin-bottom: 40px;
}
.current {
    color: green;
}
.inside {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 0px 10px;

}
main {
    min-height: 100vh;
    padding-bottom: 2em;
}
.big_titre {
    font-family: "Inter";
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    &.reduce {font-size: 5em;}
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
h1 {font-family: "Montserrat", sans-serif; color: $black; font-size: 2em; margin-bottom: 0; margin-top: 0;}
p, input, label, a, textarea, select, button, h2,h3,h4,h5,h6,address, li {
    font-family: "Montserrat", sans-serif;
}
.big_titre {
    font-size: 8em;
    text-align: center;
    &.black {color: $black;}
    &.yellow {color: $yellow;}
    &.pink {color: $pink;}
}
#chapo {
    display: flex;
    margin-top: 7em;
    justify-content: space-between;
    margin-bottom: 2.5em;
    img {width:10em; height: auto;}
    .chapo_img { display: flex; justify-content: center; align-items: center;}
    .chapo_text{
        width: 80%;
        display: flex;
        flex-direction:column;
        p{}
        a {
            width: fit-content;
            //align-self: end;
        }
    }
}
#urgence {
    position: relative;
    display: flex;
    align-items: center;
    img {width: 320px; transform:scaleX(-1);}
    h2 {position: absolute;
        top: 90px;
        right: 0px;
        z-index: -1;
        color: $yellow;
        margin: 0;
    }
    .urgence_text {
        align-self: end;
    }
}
.zones {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    a {
        text-decoration: none;
        color: black;
        li { border: solid 1px; width: auto;
            padding: 3px 5px;
            border-radius: 2px;
            margin-right: 3px;
            margin-bottom: 3px;
        }
    }
}
.banner_home {
    background-image: url("/assets/images/banner-guepe.jpg");
    height: 40vh;
    width: 100%;
    background-position: center;
    margin: 3em 0;
    div:first-of-type {
        display: flex;
        justify-content: flex-end;
        color: white;
        .banner_text {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 3.2em;
                margin-bottom: 0.3em;
            }
            .banner_cta {
                a {font-size: 1.2em; color: white;}
            }
        }
    }

}
.initial_liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &.grid_three {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    cursor: pointer;
  }
  
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  summary::marker {
    content: '';
    //font-size: 1.2em;
    display: none;
  }
.map_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    form {width: 100% !important;}
    .map {
        display: flex;
        width: 100%;
        height: 100%;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
}
@media only screen and (max-width: 40em) {
    #urgence {
        flex-direction: column;
        position: relative;
        h2 {font-size: 4.5em; position: initial;}
        .urgence_img {
            position: absolute;
            z-index: -2;
            top: 1em;
        }
        .urgence_text {
            margin-top: 10em;
        }
        .ctas {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {width: 70%; margin-bottom: 1.2em; text-align: center; font-size: 1.3em; line-height: 2em;}
        }
    }
    .big_titre {
        word-break: break-all;
        font-size: 4.5em;
    }
    #chapo{
        .chapo_img {display: none;}
        .chapo_text {width: 100%;}
        .chapo_cta {
            display: flex;
            justify-content: center;
            a {width: 70%; margin-bottom: 1.2em; text-align: center; font-size: 1.3em; line-height: 2em;
                margin-bottom: 0;
            }
        }
    }
    footer {padding-left:1.2em; padding-right: 1.2em;}
    .banner_text {
        justify-content: center;
        h2 {margin-bottom: 0;
            line-height: 1em;
            text-align: center;
            font-size: 4em;}
            .banner_cta {
                width: 100%;
                display: flex;
                justify-content: center !important;
                a {
                    width: 70%;
                    margin-bottom: 1.2em;
                    text-align: center;
                    font-size: 1.3em;
                    line-height: 2em;
                }
            }
    }
}
