#nav_main {
    background-color: white;
    //border: solid 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:20;
    .nav {
        //border: solid 1px;
        display: flex;
        justify-content: space-between;
    }
    div {
        display: flex;
        align-items: center;
    }
    a {text-decoration: none; color: black;
        font-family: "Montserrat", sans-serif;
        margin-right: 10px;
        &:hover {text-decoration: underline;}
    }
    .logo_link {margin: 0;}
    .burger_nav {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
#burger {
    width: 30px;
}
#mobile_nav {
    visibility: hidden;
    width: 0;
    height: 0;
}

@media only screen and (max-width: 40em) { 
    #nav_main {
        .nav {display: none;}
        .burger_nav {
            visibility: visible;
            width: auto;
            height: auto;
            svg {
                padding: 10px 15px;
            }
        }
    }
    #mobile_nav {
        visibility: visible;
        position: fixed;
        border: solid 2px red;
        width: 100%;
        height: 100vh;
        top: 0;
        background-color: blue;
        div {border: solid 1px red;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            justify-content: flex-start;
            align-items: baseline;
            ul {
                width: 100%;
                border: solid;
                margin: 0;
                padding: 0;
                list-style: none;
                padding-left: 10px;
            }
        }
        svg {
            padding: 10px 15px;
        }
    }
}