#nav_main {
    background-color: white;
    //border: solid 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:20;
    .nav {
        //border: solid 1px;
        display: flex;
        justify-content: space-between;
    }
    div {
        display: flex;
        align-items: center;
    }
    a {text-decoration: none; color: black;
        font-family: "Montserrat", sans-serif;
        margin-right: 10px;
        &:hover {text-decoration: underline;}
    }
    .logo_link {margin: 0;}
    .burger_nav {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
.burger {
    width: 30px;
}
.mobile_nav {
    visibility: hidden;
    width: 0;
    height: 0;
}

@keyframes visible_nav {
    0% {
        width:0; visibility: hidden;
      }
    100% {
        width:100%; visibility: visible;
    }
  }


@media only screen and (max-width: 40em) { 
    #nav_main {
        .nav {display: none;}
        .burger_nav {
            visibility: visible;
            width: auto;
            height: auto;
            svg {
                padding: 10px 15px;
            }
        }
    }
    .mobile_nav {
        visibility: hidden;
        position: fixed;
        border: solid 2px red;
        width: 0;
        top: 0;
        background-color: blue;
        height: 100vh;
        .mobile_nav_content {
            border: solid 1px red;
            display: flex;
            flex-direction: column;
            align-items: baseline !important;
            height: 100vh;
            width: 100%;
            
            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                padding-left: 10px;
            }
        }
        svg {
            padding: 10px 15px;
        }
        &.visible {
            animation: visible_nav 0.5s linear 0.1s 1 normal forwards;
        }
    }
}