---
layout: default
title: Destruction de nid de frelons asiatiques et européens dans la Manche(50) | La petite bête qui pique
titre: Destruction de nid de frelons
cover: /assets/images/prestations/frelon.png
chapo: Vous êtes confronté à un <strong>nid de frelons asiatiques ou européens</strong> dans votre propriété ?
    Afin d'assurer la <strong>destruction totale de votre nid de frelons</strong>, il est recommandé de faire appel à un désinsectiseur qualifié.<br>
    Notre entreprise, spécialiste dans la<strong> désinsectisation et la destruction des nids de frelons</strong> interviendra rapidement à votre domicile.
permalink: /nid-de-frelons
alt_img: frelon
---
<section class="inside">
{% include chapo.html %}
</section>
<section class="inside frelons">
    <h2>Les différents types de frelon que l'on voit en France</h2>
    <h3>Le frelon européen</h3>
    <div class="flex">
        
        <p>Le <strong>frelon européen</strong> ou Crabro ressemble à une guêpe mais avec des proportions deux fois plus importantes. Rayée de jaune et de noir sur les différentes parties de son corps, ses couleurs permettent de la différencier du frelon asiatique.</p>
    <img src="assets/images/frelon-europeen.png" alt="frelon europeen" width="200"></div>
    <h3>Le frelon asiatique</h3>
    <div class="flex">
        
        <p>Etant légèrement plus petit d'un cm que le frelon européen, le <strong>frelon asiatique</strong> a une taille de 3 cm environ. Les couleurs du frelon asiatique sont bien plus foncées avec le noir comme couleur dominante. L’abdomen du frelon asiatique possède un anneau orange à son extrémité et ses pattes sont jaunes, le surnommant « frelon à pattes jaunes ».</p>
    <img src="assets/images/frelon-asiatique.png" alt="frelon asiatique" width="200"></div>
    <h3>Le frelon oriental</h3>
    <p>Le <strong>frelon oriental</strong> est facilement reconnaissable par sa couleur roux.<br>A noter qu'il n'a été aperçu que dans les environs de Marseille pour le moment.</p>

</section>
<section class="inside">
    <p>Notre <strong>entreprise de désinsectisation en nid de frelons</strong> intervient sur tout le territoire de la Manche. Vous trouverez la liste des différents villes et communes où nous nous déplaçons.</p>
    {% include zones.html %}
</section>