---

---
<!doctype html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.la-petite-bete-qui-pique.fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="La petite bête qui pique">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon//favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <meta name="google-site-verification" content="PWMLkCCQ2KS1_JpyA0JrZ771wYjpdjFUxCNQTgH7hdw" />
    <meta name="robots" content="index,follow">
  </head>
  <body>
    <header>
    {% include navigation.html %}
    </header>
    <main>
        <article class="inside post_margin">
            <h1>{{ page.titre }}</h1>
          {{ content }}
        </article>
    </main>
    {% include footer.html %}
  </body>
</html>
<script type="text/javascript" src="/assets/js/nav.js"></script>
